.green,
.blue,
.orange, 
.white {
  --noise: url("data:image/svg+xml;utf8,<svg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='2' stitchTiles='stitch'/></filter><rect width='100' height='100' filter='url(%23noiseFilter)' opacity='1'/></svg>");
  --noise-dark: url("data:image/svg+xml;utf8,<svg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='2' stitchTiles='stitch'/></filter><rect width='100' height='100' filter='url(%23noiseFilter)' opacity='0.3'/></svg>");

}
.hoverText {
  text-decoration: underline 0.1em;
  text-underline-offset: 0.1em;
}
.red {
  background: linear-gradient(to left, transparent 50%, #ef476f 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: all 0.2s ease-in-out;
}

.blue {
  background: linear-gradient(to left, transparent 50%, #2696ea 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: all 0.2s ease-in-out;
}

.yellow {
  background: linear-gradient(to left, transparent 50%, #ffa528 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: all 0.2s ease-in-out;
}
.green {
  background: var(--noise), linear-gradient(to right, #00c7a3 0%, #00a184 100%);
  background-blend-mode: overlay;
}

:global(.dark) .green {
  background: var(--noise), linear-gradient(to right, #00c7a3 0%, #005750 100%);
  background-blend-mode: overlay;
}

.blue {
  background: var(--noise), linear-gradient(to right, #0095e2 0%, #0077b2 100%);
  background-blend-mode: overlay;
}
:global(.dark) .blue {
  background: var(--noise), linear-gradient(to right, #0095e2 0%, #025782 100%);
  background-blend-mode: overlay;
}

.orange {
  background: var(--noise), linear-gradient(to right, #ed602e 0%, #c63500 100%);
  background-blend-mode: overlay;
}
:global(.dark) .orange {
  background: var(--noise), linear-gradient(to right, #ed602e 0%, #9a2900 100%);
  background-blend-mode: overlay;
}
.white {
  background: var(--noise-dark), linear-gradient(to right, #242424 0%, #151515 100%);
  background-blend-mode: lighten;
}

:global(.dark) .white {
  background: var(--noise), linear-gradient(to right, #fff 0%, #e6e6e6 100%);
  background-blend-mode: multiply;
  filter: brightness(1.2);
}

.noise {
  background: var(--noise);
  background-blend-mode: overlay;
}

:global(.dark) .hero {
  & :is(h2, shadow-bg) {
    box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.5);
  }
}

:global(.light) .hero {
  & :is(h2, shadow-bg) {
    box-shadow: 4px 4px 64px rgba(255, 255, 255, 0.5);
  }
}
