.hoverText {
    text-decoration: underline 0.1em;
    text-underline-offset: 0.1em;
    display: inline-block;
}

.red:hover {
    background-color: #ff6565;
}

.red:hover::before {
    background-color: #ff6565;
}