@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:hover);

@theme {
  --font-body: "Host Grotesk", sans-serif;
  --font-mono: "Atkinson Hyperlegible Mono", monospace;
}

:root {
  --background: #f6f3ee;
  --foreground: #002a69;
  --card: #ffffff;
  --card-foreground: #262626;
  --popover: #ffffff;
  --popover-foreground: #262626;
  --primary: #002a69;
  --primary-foreground: #fff;
  --secondary: #f7f7f7;
  --secondary-foreground: #002a69;
  --muted: #a2a2a2;
  --muted-foreground: #536a8d;
  --accent: #fff;
  --accent-foreground: #002a69;
  --destructive: #d94f4f;
  --destructive-foreground: #d94f4f;
  --border: #d6d6d6;
  --input: #ebebeb;
  --ring: #b5b5b5;
  --chart-1: #d98e2f;
  --chart-2: #4d9fd9;
  --chart-3: #5c7ed9;
  --chart-4: #d9d92f;
  --chart-5: #d9d92f;
  --radius: 0.625rem;
  --sidebar: #fafafa;
  --sidebar-foreground: #002a69;
  --sidebar-primary: #006aff;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b5b5b5;
  --sheet-primary: #002a6915;
  --hover-b: rgba(73, 131, 225, 0.199);
  --media-brand: 245 245 245;
  --media-focus: 78 156 246;
  --nav-bar: #404040;
  --nav-active: #0095e2;
  --neutral-invert: #000;
  --nav-background:
    url("data:image/svg+xml;utf8,<svg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='1' stitchTiles='stitch'/></filter><rect width='100' height='100' filter='url(%23noiseFilter)' opacity='1'/></svg>"),
    rgba(255, 255, 255, 0.35);
}

.dark {
  --background: #262626;
  --foreground: #fafafa;
  --card: #000;
  --card-foreground: #fafafa;
  --popover: #262626;
  --popover-foreground: #fafafa;
  --primary: #fafafa;
  --primary-foreground: #000;
  --secondary: #444444;
  --secondary-foreground: #fafafa;
  --muted: #767676;
  --muted-foreground: #b5b5b5;
  --accent: #000;
  --accent-foreground: #fafafa;
  --destructive: #a33d3d;
  --destructive-foreground: #a33d3d;
  --border: #444444;
  --input: #444444;
  --ring: #707070;
  --chart-1: #7a4fd9;
  --chart-2: #b5d94f;
  --chart-3: #d9d92f;
  --chart-4: #a33dd9;
  --chart-5: #a33d3d;
  --sidebar: #343434;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #7a4fd9;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #444444;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #444444;
  --sidebar-ring: #707070;
  --neutral-invert: #fff;
  --tw-prose-body: var(--primary);
  --sheet-primary: #ffffff10;
  --hover-b: oklch(90.815% 0.04635 285.417 / 0.127);
  --nav-background:
    url("data:image/svg+xml;utf8,<svg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='1' stitchTiles='stitch'/></filter><rect width='100' height='100' filter='url(%23noiseFilter)' opacity='0.65'/></svg>"),
    rgba(0, 0, 0, 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sheet-primary: var(--sheet-primary);
  --color-hover-b: var(--hover-b);
  --color-nav-active: var(--nav-active);
  --color-neutral-invert: var(--neutral-invert);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-body), Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    text-rendering: auto;
  }
}

.typography {
  @apply prose prose-xl prose-p:text-neutral-invert/50 prose-headings:text-primary prose-headings:scroll-m-20 prose-code:rounded-md prose-code:p-1 prose-code:leading-6 prose-code:before:content-none prose-code:after:content-none prose-pre:border prose-pre:bg-neutral-100;
  @apply prose-code:text-xs w-[85vw] !min-w-full pt-2 sm:mx-auto sm:w-full;
  @apply dark:prose-invert prose-code:text-neutral-800 dark:prose-code:bg-neutral-900 dark:prose-code:text-white dark:prose-pre:bg-neutral-900;
  @apply prose-h2:mt-16;
}

.prose {
  margin: 0 !important;
}

.prose ul > li::marker {
  color: #002a69;
}

.dark .prose ul > li::marker {
  color: hsl(0, 0%, 79%);
}

.prose :where([class~="not-prose"] ul > li)::marker,
.prose :where([class~="not-prose"] ul > li)::marker * {
  color: inherit;
}

.prose
  :where(ul > li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-inline-start: 0;
}

.code-line {
  padding: 0.75px 12.5px;
}

pre {
  padding: 0 !important;
  width: inherit !important;
  overflow-x: auto;
}

pre > code {
  display: grid;
  max-width: inherit !important;
  padding: 14px 0 !important;
}

.contains-task-list {
  list-style-type: none;
  padding-inline-start: 0;
}

.task-list-item {
  display: flex;
  align-items: center;
}

.task-list-item input {
  margin-right: 0.5rem;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  margin-right: 22px;
  margin-left: -2px;
  color: rgb(110, 110, 110);
  content: attr(line);
  text-align: right;
}

.highlight {
  font-weight: bold;
  color: black;
}

.dark .highlight {
  font-weight: bold;
  color: white;
}

.highlight-line {
  @apply dark:bg-neutral-800/90;
  @apply bg-neutral-200/90;
}

.highlight-comp > code {
  background-color: transparent !important;
}

.attr-name {
  color: #414141;
}

.dark .attr-name {
  color: #cacaca;
}

.punctuation,
.comment {
  color: gray;
}

.attr-name,
.number,
.tag,
.property-access,
.keyword {
  color: hsla(335, 73%, 53%, 1);
}

.dark .attr-name,
.dark .tag,
.dark .keyword,
.dark .property-access,
.dark .number {
  color: hsla(335, 76%, 59%, 1);
}

.at.operator,
.builtin,
.function {
  color: hsla(210, 100%, 66%, 1);
}

.attr-value,
.string {
  color: hsla(131, 43%, 57%, 1);
}

.constant,
.annotation,
.boolean {
  color: hsl(0, 0%, 29%);
}

.dark .constant,
.dark .annotation,
.dark .boolean {
  color: hsl(0, 0%, 71%);
}

span.katex-display {
  display: flex;
}

span.katex-html {
  display: none;
}

.rehype-code-title {
  @apply px-2;
  @apply -mb-8;
  @apply w-full;
  @apply text-sm;
  @apply pt-1;
  @apply pb-5;
  @apply font-normal;
  @apply tracking-wider;
  @apply font-medium;
  font-family: var(--font-code) !important;
}

.CollapsibleContent {
  overflow: hidden;
}
.CollapsibleContent[data-state="open"] {
  animation: slideDown 300ms ease-out;
}

.CollapsibleContent[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}
video {
  border-radius: var(--radius);
}
.UX-Design {
  background-color: #ef476f;
}

.Web-Design {
  background-color: #2696ea;
}

.Branding {
  background-color: #06d6a0;
}

.Product-Design {
  background-color: #877efd;
}

.Data-Science {
  background-color: #ffa528;
}

.Web-Dev {
  background-color: #ff6a2f;
}

.Scientific-Illustration {
  background-color: rgb(255, 82, 168);
}

.Animation {
  background-color: rgb(125, 215, 22);
}

.tag {
  img {
    height: 32px;
    width: 32px;
    padding: 0;
    margin: 0;
    object-fit: contain;
  }
}
.chart-frame {
  zoom: 0.65;
}
.note {
  *:is(h1, h2, h3, h4, h5, h6) {
    @apply mt-2;
  }
  p {
    @apply text-xl mb-2;
  }
}
.video-player {
  .media-controls-layer {
    opacity: 0.5;
  }
  .play,
  .volume,
  .slider {
    display: none;
    transition: fade 0.3s;
  }
  &[data-controls] {
    .play,
    .volume,
    .slider {
      display: flex;
    }
    .media-controls-layer {
      opacity: 1;
    }
  }
}
.gradient-bg {
  @apply transition-all duration-500 ease-in-out;
  position: relative;
  z-index: 0;
  background:
    radial-gradient(at 0px 0px, #fd4a5c 0px, transparent 50%),
    radial-gradient(
      at 63.900862068965516% 14.458325703938801%,
      #a099ff 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, #ff9739 0px, transparent 50%),
    radial-gradient(at 100% 100%, #32fcbe 0px, transparent 50%),
    radial-gradient(
      at 73.27586206896551% 63.62499237060547%,
      #a84dff 0px,
      transparent 50%
    ),
    linear-gradient(
      90deg,
      rgba(160, 153, 255, 1) 0%,
      rgba(168, 77, 255, 1) 23%,
      rgba(253, 74, 92, 1) 51%,
      rgba(255, 151, 57, 1) 75%,
      rgba(255, 214, 55, 1) 100%
    ),
    #cd93ff;
}

.gradient-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: inherit;
  transition: filter 0.5s ease-in-out;
  pointer-events: none;
  content: paint;
  border-radius: 12px;
}

.gradient-bg:hover::before {
  filter: hue-rotate(-30deg) brightness(1.1) contrast(1.1);
}

.note-bevel {
  @apply bg-[#f8f4f4] dark:bg-[rgb(43,43,43)];
}

.bevel {
  @apply transition-all duration-300;
  background-color: #f8f4f4;
  box-shadow:
    2px 2px 6px 3px rgba(255, 255, 255, 0.7),
    5px 5px 10px 2px rgba(0, 0, 0, 0.15),
    -2px -2px 6px 1px rgba(0, 0, 0, 0.01),
    -5px -5px 5px 4px rgba(255, 255, 255, 1),
    -4px -4px 3px 3px rgba(255, 255, 255, 1);
}
.dark .bevel {
  background-color: #2b2b2b;
  box-shadow:
    2px 2px 5px 2px rgb(255, 255, 255, 0.09),
    5px 5px 10px 2px rgba(0, 0, 0, 0.6),
    -2px -2px 4px 1px rgba(0, 0, 0, 0.3),
    -4px -4px 5px 2px rgba(255, 255, 255, 0.1);
}
.mobile-toc,
.toc {
  h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    @apply text-sm;
  }
  .l2,
  .l3,
  .l4 {
    text-decoration: none;
  }
}
table {
  overflow-x: auto;
  td {
    min-width: 10ch;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

.bg-nav-noise {
  backdrop-filter: blur(16px);
  background: var(--nav-background);
  background-blend-mode: overlay;
}

.carousel {
  img {
    object-fit: cover;
  }
}

.form .google-form-embed {
  .ahS2Le {
    display: none !important;
  }
}

.cover-image {
 aspect-ratio: 5/1;
}

.contact-bg {
 background-color: hsla(359, 100%, 50%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1746 1746' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at 0% 99%, hsla(11, 100%, 50%, 1) 0%, transparent 67%), radial-gradient(circle at 46% 94%, hsla(177, 100%, 50%, 1) 0%, transparent 81%), radial-gradient(circle at 89% 8%, rgb(52, 2, 59) 0%, transparent 150%), radial-gradient(circle at 89% 8%, rgb(50, 166, 255) 0%, transparent 150%), radial-gradient(circle at 93% 95%, hsla(236, 100%, 23%, 1) 0%, transparent 66%), radial-gradient(circle at 89% 8%, hsla(0, 100%, 99%, 1) 0%, transparent 150%), radial-gradient(circle at 89% 8%, hsla(55, 94%, 54%, 1) 0%, transparent 150%);
    background-blend-mode: overlay, normal, normal, normal, normal, normal, normal, normal;
}
